.box>img{width: 100%;height: 100%;transition:all .8s;}
.box .shadow{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8000000,endColorstr=#C8000000);display: none;}
.box:hover .shadow{display: block;}
.box a{top: 0px;}