<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../css/homepage.css">
	<style>
		.skip>.Pink{background-color: #f48282;height: 80px;color:#fff;}
	</style>
	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="../css/homepage_ie8.css" /><![endif]-->
</head>
<body>
	<div class="header">
		<div>
			<div class="logo">
				<a href="##">
					<img src="../images/logo.png" alt="">
				</a>
			</div>
			<div class="skip">
				<a href="./homepage.html" class="Pink">
					<span>首页</span>
				</a>
				<a href="./courses.html">
					<span>课程</span>
				</a>
				<a href="./universities.html">
					<span>院校</span>
				</a>
			</div>
			<div class="user">
				<div id="loged" style="">
					<span style="" id="displayUser"></span>
					<div id="fuckOff" style="display:none;">
						<a href="##" style="">&nbsp;&nbsp;退出&nbsp;&nbsp;</a>
					</div>
				</div>
				<div id="unLogin">
					<a href="./signUp.html" target="_black">注册</a> / <a href="./login.html"  target="_black">登录</a>
				</div>
				<!-- 扫二维码 -->
				<div class="app" id="app">
					<a href="##"></a>
				</div>
				<!-- 搜索 -->
				<div id="search">
					<a href="##"></a>
				</div>
				<div id="searchMoveBox" style="">
					<input type="text" placeholder="根据课程名称、学校、教师搜索">
					<a href="##">
						<i class="icon "></i>
					</a>
				</div>
			</div>
			<a class="mobile-app" id="mobileApp" style="display:none;">
				<img src="../images/mobile_220.png">
			</a>
		</div>
	</div>

	<!-- 页面主体 -->
	<div class="main">
		<!-- 第一个轮播图————————-->
		<div class="lun-1" >
			<div id="lun_1">
				
			</div>
			<ul id="selectImg">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>


		<!-- 第二个轮播图 ——————————————-->
		<div class="lun-2">
			<span id="goLeft"></span>
			<div id="lun_2">
				<!-- =================================== -->
				<div class="div div-1">
					<div class="img-box">
						<img src="../images/b1.jpg" alt="" class="img">
					</div>
					<div class="text-box" name="test">
						<h3>经济法（2016春）</h3>
						<h4>上海交通大学</h4>
						<p>“经济法”是教育部规定的法学专业本科教育的16门专业核心课程之一，是法学类专业学生的必修课，也是经济类、管理类等专业学生的重要选修课。在上海交通大学，经济法这门课被作为“985”三期优质课程进行建设，经过几年的建设，2013年顺利通过了学校组织的验收并被评为优秀等次，并先后被遴选为上海市教委重点课程和上海市精品课程。为适应慕课教学的需要，本课程的内容精选为十章40讲（40节课），每节课平均15分钟左右，由课程组6位教师分工讲授。 教学相长，师生共进步。经济法课程是你我交流切磋的园地，师生共同提高的平台。相信通过本课程的学习，我们获得的不仅是专业知识和能力的提高，还有思维方法和职业能力的提升。欢迎你走进经济法课程的课堂！</p>
						<a href="##" class="link"><b class="icon-view02"></b><span>详情</span></a>
					</div>
				</div>
				<!-- =================================== -->
				<div class="div div-2">
					<div class="img-box">
						<img src="../images/b2.jpg" alt="" class="img">
						<a href="##" class="sprite-player"></a>
					</div>
					<div class="text-box">
						<h3>数学之旅(2016夏季学期)</h3>
						<h4>上海交通大学</h4>
						<p>数学，一个很重要的特征就是是它的“抽象性”，这一特征是令人生畏的。 我们的“数学之旅”不期待你知道了多少数学概念，而期待你开始对数学的“抽象性”正真能有所体会，使你不再“畏惧”数学的抽象特征，而感受到数学思维所表现出人类心智的荣耀和美妙。 数学的“抽象性”这一特征，使人们在繁杂的世界中逐步懂得宇宙深处伟大设计图的语言，可以用理性的思维达到超出人类感官所及的宇宙的根本。这是数学的魅力所在，也是数学在人类历史上起着其它科学不可替代作用的重要原因。但这也是很多学生畏惧数学或学习数学的困难所在。 本课程针对这一情况，试图和学生一起从思想上重走一遍前辈们走过的路，作一次轻松的数学之旅。</p>
						<a href="##" class="link"><b class="icon-view02"></b><span>详情</span></a>
					</div>
				</div>
				<!-- =================================== -->
				<div class="div div-2">
					<div class="img-box">
						<img src="../images/b3.jpg" alt="" class="img">
						<a href="##" class="sprite-player"></a>
					</div>
					<div class="text-box">
						<h3>经济法(2016夏季学期)</h3>
						<h4>上海交通大学</h4>
						<p>“经济法”是教育部规定的法学专业本科教育的16门专业核心课程之一，是法学类专业学生的必修课，也是经济类、管理类等专业学生的重要选修课。在上海交通大学，经济法这门课被作为“985”三期优质课程进行建设，经过几年的建设，2013年顺利通过了学校组织的验收并被评为优秀等次，并先后被遴选为上海市教委重点课程和上海市精品课程。为适应慕课教学的需要，本课程的内容精选为十章40讲（40节课），每节课平均15分钟左右，由课程组6位教师分工讲授。 教学相长，师生共进步。经济法课程是你我交流切磋的园地，师生共同提高的平台。相信通过本课程的学习，我们获得的不仅是专业知识和能力的提高，还有思维方法和职业能力的提升。欢迎你走进经济法课程的课堂！</p>
						<a href="##" class="link"><b class="icon-view02"></b><span>详情</span></a>
					</div>
				</div>
				<!-- =================================== -->
				<div class="div div-2">
					<div class="img-box">
						<img src="../images/b4.jpg" alt="" class="img">
						<a href="##" class="sprite-player"></a>
					</div>
					<div class="text-box">
						<h3>刑事诉讼法(2016夏季学期)</h3>
						<h4>上海交通大学</h4>
						<p>刑事诉讼法，规范着国家刑罚权的具体落实。透过刑事诉讼程序，刑法的机能，如维护社会安全，保障公共法益，捍卫个人自由等价值目标，才能得到有效落实。缺少了刑事诉讼法，刑事司法机关就无从落实国家刑罚权，犯罪被害人就无从伸张正义。学习刑事诉讼法，这样一部非常重要的部门法，不仅可以帮助我们了解法院、检察院、公安机关的职能与权限，也有利于我们理解中国刑事诉讼的基本流程及被追诉人在该流程中所享有的诉讼权利，而且，便于我们解读现实生活中发生的一系列刑事司法现象。为此，有志于今后从事刑事司法工作或研究的同学，应当认真对待这一重要的部门法。</p>
						<a href="##" class="link"><b class="icon-view02"></b><span>详情</span></a>
					</div>
				</div>
				<!-- =================================== -->
				<div class="div div-2">
					<div class="img-box">
						<img src="../images/b5.jpg" alt="" class="img">
					</div>
					<div class="text-box">
						<h3>刑法总论(2016夏季学期)</h3>
						<h4>上海交通大学</h4>
						<p>《刑法总论》以我国刑法总则规范为研究对象，内容包括刑法的概念和特征、刑法的任务和基本原则、刑法的效力范围、犯罪的概念和犯罪构成原理、故意犯罪的停止形态、共同犯罪、一罪与数罪、正当行为、刑罚的概念和特征、刑罚体系和种类、累犯、自首、数罪并罚、缓刑等量刑制度、减刑、假释等行刑制度和追诉时效制度。《刑法分论》则以我国刑法分则规范为研究对象，内容包括各种具体犯罪的概念、构成要件以及各自的法定刑。</p>
						<a href="##" class="link"><b class="icon-view02"></b><span>详情</span></a>
					</div>
				</div>
				<!-- =================================== -->
				<div class="div div-2">
					<div class="img-box">
						<img src="../images/b6.jpg" alt="" class="img">
					</div>
					<div class="text-box" name="test">
						<h3>法律谈判(2016夏季学期)</h3>
						<h4>上海交通大学</h4>
						<p>谈判是律师职业培训阶段的必备要素。 法律谈判的性质是“用证据来谈，用法律来判”，课程教学目标是通过诊所式法律教育来培养学生从事法律谈判工作的职业能力和职业道德。 通过课程的学习，使学生具备谈判的基本理论，习得谈判的礼仪，掌握通过谈判化解矛盾、创造性解决纠纷的能力。</p>
						<a href="##" class="link"><b class="icon-view02"></b><span>详情</span></a>
					</div>
				</div>
				
			</div>
			<span id="goRight"></span>
		</div>


		<!-- CNMOOC的最新课程 -->
		<div class="content-3">
			<div>
				<h2>CNMOOC的最新课程</h2>
				<ul>
					<li>
						<div>
							<img src="../images/c1.jpg" alt="" class="img">
							<div class="shadow-box reset-line-height">
								<table>
									<tr><td>
										<i class="icon icon-date"></i>2016/07/04 - 2016/09/04<br>
										<i class="icon icon-long"></i>11周<br>
										<i class="icon icon-speed"></i> 4小时/周
									</td></tr>
								</table>
								
							</div>
							<a href="##" class="glass"></a>
						</div>
						<h3>创新方法(TRIZ)概论<span>2016学年秋季</span></h3>
						<div class="people">
							<div class="left">
								<img src="../images/d1.png" alt="">
								<span>沙永杰</span>
							</div>
							<div class="right">上海交通大学</div>
						</div>
					</li>
					<li>
						<div >
							<img src="../images/c2.jpg" alt="" class="img">
							<div class="shadow-box reset-line-height">
								<table><tr><td>
									<i class="icon icon-date"></i>2016/07/04 - 2016/09/04<br>
									<i class="icon icon-long"></i>11周<br>
									<i class="icon icon-speed"></i> 4小时/周
								</td></tr></table>
								
							</div>
							<a href="##" class="glass"></a>
						</div>
						<h3>管理沟通<span>2016秋</span></h3>
						<div class="people">
							<div class="left">
								<img src="../images/d2.png" alt="">
								<span>张莉</span>
							</div>
							<div class="right">哈尔滨工业大学</div>
						</div>
					</li>
					<li>
						<div >
							<img src="../images/c3.jpg" alt="" class="img">
							<div class="shadow-box reset-line-height">
								<table><tr><td>
									<i class="icon icon-date"></i>2016/07/04 - 2016/09/04<br>
									<i class="icon icon-long"></i>11周<br>
									<i class="icon icon-speed"></i> 4小时/周
								</td></tr></table>
								
							</div>
							<a href="##" class="glass"></a>
						</div>
						<h3>离散数学<span>2016秋</span></h3>
						<div class="people">
							<div class="left">
								<img src="../images/d3.png" alt="">
								<span>刘铎</span>
							</div>
							<div class="right">北京交通大学</div>
						</div>
					</li>
					<li>
						<div >
							<img src="../images/c4.jpg" alt="" class="img">
							<div class="shadow-box reset-line-height">
								<table><tr><td>
									<i class="icon icon-date"></i>2016/07/04 - 2016/09/04<br>
									<i class="icon icon-long"></i>11周<br>
									<i class="icon icon-speed"></i> 4小时/周
								</td></tr></table>
								
							</div>
							<a href="##" class="glass"></a>
						</div>
						<h3>刑法总论<span>2016夏季学期</span></h3>
						<div class="people">
							<div class="left">
								<img src="../images/d4.png" alt="">
								<span>张绍谦</span>
							</div>
							<div class="right">上海交通大学</div>
						</div>
					</li>
					<li>
						<div >
							<img src="../images/c5.jpg" alt="" class="img">
							<div class="shadow-box">
								<i class="icon icon-lock"></i>即将开始
							</div>
							<a href="##" class="glass"></a>
						</div>
						<h3>Watson Analytics 基础课程<span>2016</span></h3>
						<div class="people">
							<div class="left">
								<img src="../images/d5.png" alt="">
								<span>Jackie Ross</span>
							</div>
							<div class="right">IBM大数据大学</div>
						</div>
					</li>
					<li>
						<div >
							<img src="../images/c6.jpg" alt="" class="img">
							<div class="shadow-box">
								<i class="icon icon-lock"></i>即将开始
							</div>
							<a href="##" class="glass"></a>
						</div>
						<h3>法律谈判<span>2016夏季学期</span></h3>
						<div class="people">
							<div class="left">
								<img src="../images/d6.png" alt="">
								<span>刘永沛</span>
							</div>
							<div class="right">上海交通大学</div>
						</div>
					</li>
					<li>
						<div >
							<img src="../images/c7.jpg" alt="" class="img">
							<div class="shadow-box">
								<i class="icon icon-lock"></i>即将开始
							</div>
							<a href="##" class="glass"></a>
						</div>
						<h3>自我认知与情绪管理<span>2016秋</span></h3>
						<div class="people">
							<div class="left">
								<img src="../images/d7.png" alt="">
								<span>吴松全</span>
							</div>
							<div class="right">哈尔滨工业大学</div>
						</div>
					</li>
					<li>
						<div >
							<img src="../images/c8.jpg" alt="" class="img">
							<div class="shadow-box">
								<i class="icon icon-lock"></i>即将开始
							</div>
							<a href="##" class="glass"></a>
						</div>
						<h3>刑事诉讼法<span>2016夏季学期</span></h3>
						<div class="people">
							<div class="left">
								<img src="../images/d8.png" alt="">
								<span>林喜芬</span>
							</div>
							<div class="right">上海交通大学</div>
						</div>
					</li>
				</ul> 
				<!-- more -->
				<div class="more">
					<a href="##">
						<span class="icon"><b></b></span>
						<span class="tex">探寻更多课程</span>
					</a>
				</div>
			</div>
		</div>
		<!-- CNMOOC的运作机制 -->
		<div class="content-4">
			<div>
				<h2>
					<i class="line left"></i>
					<span>CNMOOC的运作机制</span>
					<i class="line right"></i>
				</h2>
				<div style="clear:both;"></div>
				<div class="items">
					<div class="item">
						<div>
							<i></i>
						</div>
						<h3>知识导航</h3>
					</div>
					<div class="item">
						<div>
							<i class="item-2"></i>
						</div>
						<h3>作业互评</h3>
					</div>
					<div class="item">
						<div>
							<i class="item-3"></i>
						</div>
						<h3>翻转课堂</h3>
					</div>
					<div class="item">
						<div>
							<i class="item-4"></i>
						</div>
						<h3>学分互认</h3>
					</div>
					<div class="item">
						<div>
							<i class="item-5"></i>
						</div>
						<h3>证书认证</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 尾部 -->
	<div id="footer">
		<div>
			<!-- footer-left -->
			<div>
				<div class="foot-com-height">
					中国高水平大学慕课联盟官方网站
					
					<ul>
						<li></li>
						<li></li>
					</ul>
				</div>
				<p class="foot-com-height">© 版权所有 2015 上海交通大学慕课研究院</p>
				<p class="foot-com-height cooperate">
					<span>战略合作：</span>
					<a href="##" class="icon-baidu"></a>
					<a href="##" class="icon-wisedu"></a>
				</p>
				<p class="foot-com-height">沪ICP备06018291号</p>
			</div>
			<!-- footer-center -->
			<div class="footer-center">
				<div class="foot-com-height">客服电话：4008296199</div>
				<div class="foot-com-height">
					QQ 客服：
					<a href="##">
						<i class="qq"></i>
						<span>2782661530</span>
					</a>
				</div>
				<div class="foot-com-height">
					关注微信：
					<a href="##" style="margin-left:-1px;position:relative;" class="qr">
						<i class="wechat"></i>
						<span>sjtucnmooc</span>
						<img src="../images/wechat.jpg" class="wechat-qr">
					</a>
				</div>
			</div>
			<!-- footer-right -->
			<div>
				<dl>
					<dt>联盟</dt>
					<dd><a href="##">服务条款</a></dd>
					<dd><a href="##">关于我们</a></dd>
					<dd><a href="##">联系我们</a></dd>
				</dl>
				<dl>
					<dt>帮助</dt>
					<dd><a href="##">常见问题</a></dd>
					<dd><a href="##">学生手册</a></dd>
					<dd><a href="##">证书查询</a></dd>
				</dl>
				<dl>
					<dt>更多</dt>
					<dd><a href="##">通知通告</a></dd>
					<dd><a href="##">新闻动态</a></dd>
					<dd><a href="##">媒体报道</a></dd>
				</dl>
			</div>
		</div>
	</div>
</body>
<script src="../js/homepage.js"></script>
<script src="../js/homepage_follow.js"></script>
<script src="../js/public.js"></script>
<script src="../js/user.js"></script>

</html>